[submodule "external/rqtll_widgets"]
	path = external/rqtll_widgets
	url = https://github.com/RQTLL/rqtll-widgets.git
[submodule "external/rqtll_components"]
	path = external/rqtll_components
	url = https://github.com/RQTLL/rqtll-components.git
[submodule "external/rqtll_api"]
	path = external/rqtll_api
	url = https://github.com/RQTLL/rqtll-api.git
